<form [formGroup]="signUpForm" (ngSubmit)="signUp(signUpForm.value)" *ngIf="register">
  <app-atom-input labelName="Enter your name" [control]="signUpForm.controls.userName"></app-atom-input>
  <app-atom-input labelName="Enter your email" placeholder="pat@example.com" [control]="signUpForm.controls.email" ></app-atom-input>
  <app-atom-input labelName="Enter your password" [control]="signUpForm.controls.password"></app-atom-input>
  <app-atom-button type="submit" btnClass="btn btn-dark" label="register" [btnDisabled]="!signUpForm.valid"></app-atom-button>
</form>

<form [formGroup]="signInForm" (ngSubmit)="signIn(signInForm.value)" *ngIf="login">
  <app-atom-input labelName="Enter your email" placeholder="pat@example.com" [control]="signInForm.controls.email"></app-atom-input>
  <app-atom-input labelName="Enter your password" [control]="signInForm.controls.password"></app-atom-input>
  <app-atom-button type="submit" btnClass="btn btn-dark" label="login" [btnDisabled]="!signInForm.valid"></app-atom-button>
</form>

<form [formGroup]="createPost" (ngSubmit)="newPost(createPost.value)" *ngIf="addPost || editPost">
  <app-atom-input labelName="Title" [control]="createPost.controls.title"></app-atom-input>
  <app-atom-input labelName="Text" [control]="createPost.controls.text"></app-atom-input>
  <app-atom-button type="submit" btnClass="btn btn-dark" label="add post" [btnDisabled]="!createPost.valid"></app-atom-button>
</form>